<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 정보 갱신</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1>회원 정보 갱신</h1>
<div>
</div>
<form action="/customer/myPage/accInfoUpdate" method="post">
  <input type="hidden" id="userId" name="userId" th:value="${accInfoVO.userId}">

  <label for="userPw">새로운 비밀번호 (8-20 characters):</label>
  <input type="password" id="userPw" name="userPw"><br>

  <label for="userPhone">New Phone Number:</label>
  <input type="text" id="userPhone" name="userPhone"><br>

  <button type="submit">Update</button>
  <a href="/customer/myPage">취소</a>
</form>
</body>

</html>