<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN MAIN</title>
</head>
<body>
  <div class="container"></div>
    <h1>ADMIN MAIN</h1>
  <div>
    <h2>버거집입니다🍔</h2>
    <p>안녕하세요, 관리자님!</p>
    <p>여기서 매장 관리 및 발주를 할 수 있습니다.</p>
  </div>

  <nav class="nav">
    <a class="nav-link" href="/main/admin/order">[1]발주하기</a>
    <a class="nav-link" href="/main/admin/sales">[2]매출 현황</a>
    <a class="nav-link" href="/main/admin/account">[3]매장 계좌 관리</a>
    <a class="nav-link" href="/main">[5]로그아웃</a>
  </nav>

  <div>
    <p th:text="${message}">ADMIN 로그인 성공!</p> <!-- 로그인 성공 메시지 -->
    <p th:text="${error}">아이디 또는 비밀번호를 확인해주세요.</p>   <!-- 로그인 실패 메시지 -->
  </div>

</body>
</html>