<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>CUSTOMER MAIN</title>
</head>

<body>
<div class="container"></div>
<h1>CUSTOMER MAIN</h1>
<div>
  <h2>버거집입니다🍔</h2>
  <p>안녕하세요, 고객님!</p>
  <p>여기서 주문 및 개인정보 관리를 하실 수 있습니다.</p>
</div>

<nav class="nav">
  <a class="nav-link" href="/main/customer/stores">[1]주문하기</a>
  <a class="nav-link" href="/main/customer/order-history">[2]주문내역 확인</a>
  <a class="nav-link" href="/main/customer/myPage">[3]마이페이지</a>
  <a class="nav-link" href="/main">[4]로그아웃</a>
</nav>

<div>
  <p th:text="${message}">CUSTOMER 로그인 성공!</p> <!-- 로그인 성공 메시지 -->
  <p th:text="${error}">아이디 또는 비밀번호를 확인해주세요.</p> <!-- 로그인 실패 메시지 -->
</div>

</body>

</html>