<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HQ INSERT</title>
</head>
<body>
<h1>HQ INSERT</h1>
<div>
   <h2>버거집입니다🍔</h2>
   <p>안녕하세요, 본사 담당자님!</p>
   <p>발주 가능 메뉴를 추가합니다.</p>
</div>
<form action="/main/hq/hqMngInv/Insert" method="post">
  <label for="menuName">메뉴명</label>
  <input type="text" id="menuName" name="menuName"><br>
  <label for="category">카테고리</label>
  <select name="category" id="category">
    <option value="">카테고리 선택-</option>
    <option value="버거">버거</option>
    <option value="사이드">사이드</option>
    <option value="음료">음료</option>
  </select><br>
  <label for="price">발주가격</label>
  <input type="number" id="price" name="price"><br>
  <label for="descr">메뉴설명</label>
  <input type="text" id="descr" name="descr"><br>

  <button type="submit">메뉴등록</button>
  <input type="button" value="뒤로가기" onclick="history.back();" />

</form>
</body>
</html>