<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HQ SELECT</title>
</head>
<body>
<h1>HQ SELECT</h1>
<div>
  <h2>버거집입니다🍔</h2>
  <p>안녕하세요, 본사 담당자님!</p>
  <p>발주 가능 메뉴 리스트입니다.</p>
</div>
<table>
  <thead>
  <tr>
    <th>메뉴명</th>
    <th>카테고리</th>
    <th>발주가격</th>
    <th>메뉴설명</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="hq : ${invMenuList}">
    <td th:text="${hq.menuName}"></td>
    <td th:text="${hq.category}"></td>
    <td th:text="${hq.price}"></td>
    <td th:text="${hq.descr}"></td>
  </tr>
  <tr th:if="${#lists.isEmpty(invMenuList)}">
    <td colspan="4">현재 발주 가능한 메뉴가 없습니다.</td>
  </tr>
  </tbody>
</table>
<input type="button" value="뒤로가기" onclick="history.back();" />
</body>
</html>