<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>주문내역 확인</title>
  <link rel="stylesheet" href="/css/style_customer.css">
</head>

<body>
<!-- Main container -->
<div id="wrap_customer_main">
  <div id="area">
    <!-- Header -->
    <div id="header">
      <img
              src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F64Fyi%2FbtsKopBV7f8%2FV9c159yoKN4R6s0C6HV2i0%2Fimg.png"
              width="100" />
      <h1>주문 내역</h1>
    </div>
    <br><br>

    <!-- Receipt container -->
    <div class="receipt-container">
      <p th:if="${#lists.isEmpty(receipt)}">주문 내역이 없습니다.</p>

      <div th:each="order : ${receipt}" class="receipt-card">
        <h3>주문 번호: <span th:text="${order.orderCode}"></span></h3>
        <p><strong>주문 항목:</strong> <br> <span th:utext="${order.orderList}"></span></p>
        <p><strong>주문 시간:</strong> <span th:text="${order.orderTime}"></span></p>
        <p><strong>총 금액:</strong> <span th:text="${order.orderPrice}"></span> 원</p>
        <p><strong>지점:</strong> <span th:text="${order.storeId}"></span></p>
      </div>
      <hr>
    </div>
    <div>
      <!-- Back button -->
      <span class="submit"><input type="button" value="뒤로가기" onclick="history.go(-1);" /></span>
    </div>
  </div>
</div>
</body>

</html>