<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CUSTOMER SIGNUP RESULT</title>
  <style>
    .success {
        color: green;
        font-weight: bold;
    }
    .failure {
        color: red;
        font-weight: bold;
    }
  </style>
</head>
<body>
<h1>CUSTOMER SIGNUP RESULT</h1>
<div>
  <h2>버거집입니다🍔</h2>
  <p>안녕하세요, 고객님!</p>
  <p>버거집 회원가입을 위한 페이지입니다.</p>
</div>

<!-- Success Message -->
<div th:if="${isSuccess}" class="success">
  회원가입 성공
</div>

<!-- Failure Message -->
<div th:if="${!isSuccess}" class="failure">
  회원가입 실패
</div>

<input type="button" value="뒤로가기" onclick="history.go(-1);" />



</body>
</html>