<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BUGERZIP SIGNUP</title>
</head>
<body>
<div class="container"></div>
<h1>🍔버거집🍔</h1>
<div>
  <h2>버거집 회원가입</h2>
</div>

<form action="/acc_info/signup" method="post">
  <!-- 아이디 입력 -->
  <label for="userId">아이디</label>
  <input type="text" id="userId" name="userId" placeholder="영문과 숫자로 5자 이상 20자 이하" required minlength="5" maxlength="20">
  <p>※ 아이디는 영문과 숫자 조합으로만 가능하며, 5자 이상 20자 이하로 입력해주세요.</p>

  <!-- 비밀번호 입력 -->
  <label for="userPw">비밀번호</label>
  <input type="password" id="userPw" name="userPw" placeholder="8자 이상, 영문/숫자/특수문자 조합" required minlength="8" maxlength="20">
  <p>※ 비밀번호는 8자 이상 20자 이하로, 영문자, 숫자, 특수기호의 조합이어야 합니다. '&'는 사용할 수 없습니다.</p>

  <!-- 이름 입력 -->
  <label for="userName">이름</label>
  <input type="text" id="userName" name="userName" placeholder="이름을 입력하세요" required>

  <!-- 전화번호 입력 -->
  <label for="userPhone">전화번호</label>
  <input type="text" id="userPhone" name="userPhone" placeholder="010-1234-5678" pattern="\d{3}-\d{4}-\d{4}" required>
  <p>※ 전화번호는 '010-1234-5678' 형식으로 입력해주세요.</p>

  <button type="submit">회원가입</button>
</form>
<br>

</body>
</html>