* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f1f1f1;
}

#wrap_admin_main {
  width: 800px;
  min-width: 400px;
  height: 500px;
  margin: 100px auto 100px;
  background-color: #ffffff;
}

#wrap_admin_order {
  width: 800px;
  min-width: 400px;
  height: 1000px;
  margin: 100px auto 100px;
  background-color: #ffffff;
  text-align: center;
}

#area_admin_main {
  width: 800px;
  background-color: #ffffff;
  margin: 0 auto 100px;
  padding: auto auto 100px;
  position: relative;
}

#wrap_admin_sales {
  width: 800px;
  min-width: 400px;
  height: 500px;
  margin: 100px auto 100px;
  background-color: #ffffff;
  text-align: center;
}

#area_admin_sales {
  width: 800px;
  background-color: #ffffff;
  margin: 0 auto 100px;
  padding: auto auto 100px;
  position: relative;
}

#table_area {
  display: flex;
  /* Flexbox 사용 */
  justify-content: center;
  /* 수평 중앙 정렬 */
}

#header {
  width: 100%;
  height: 50px;
  padding: 60px 0 100px;
  margin-bottom: 50px;
  text-align: center;
}

.checkbox {
  display: inline-block;
  font-size: 14px;
  color: #aaa;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px;

}

.submit>input {
  width: 80%;
  height: 60px;
  color: #ffffff;
  background: #000000;
  text-align: center;
  border: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

/* submit 파생버튼 */
.styled-button {
  width: 80%; /* Adjust to fit your layout */
  height: 60px;
  color: #ffffff; /* Text color */
  background: #000000; /* Background color */
  text-align: center;
  border: none; /* Remove border */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Font weight */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Optional: Add hover effects */
.styled-button:hover {
  background: #444444; /* Change background color on hover */
}

.sub_button {
  display: flex;
  justify-content: center;
  margin: 0;
}

.sub_button>input {
  width: 70px;
  height: 30px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  border: 1px solid #000;
  display: block;
  font-size: 12px;
  margin: 5px;
}

.sub_button2 {
  display: inline-block;
  margin: 0 auto;
}

.sub_button2>input {
  width: 50px;
  height: 30px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  border: 1px solid #000;
  display: inline;
  font-size: 12px;
  margin: 0 5px;
}

.sub_button3 {
  display: inline-block;
  margin: 0 auto;
}

.sub_button3>input {
  width: 66px;
  height: 30px;
  color: #ffffff;
  background: #000000;
  border: 1px solid #000;
  text-align: center;
  display: inline;
  font-size: 12px;
  margin: 0 5px;
}

#input_box>#sub_menu {
  display: block;
  height: 22px;
}


#sub_menu {
  text-align: center;
}

#sub_menu>li>a {
  color: #aaa;
  font-size: 14px;
}

.description {
  color: #aaa;
  font-size: 12px;
}

table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

th {
  background-color: #f2f2f2;
  color: black;
}

td .sub_button2 {
  display: flex;
  justify-content: center;
  /* 버튼 가로 중앙 정렬 */
}

#input_box_AcctCharge {
  width: 40%;
  margin: 0 auto;
  padding: 30px 0 0;
}

#input_box_AcctCharge .input {
  width: 100%;
  height: 50px;
  padding: 15px 10px 14px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

cart .sub_button3 {
  display: flex;
  justify-content: center;
  /* 버튼 가로 중앙 정렬 */
  width: auto;
  height: 30px;
  color: #ffffff !important;
  background: #000000 !important;
  border: 1px solid #000;
  text-align: center;
  display: inline;
  font-size: 12px;
  margin: 0 5px;
}

.menu,
.cart {
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu {
  border-right: 1px solid #ccc;
  margin: auto auto 10px;
  padding: 50px 0 0;
  text-align: center;

}

.menu table {
  margin: 0 auto;
}

.menu .input {
  width: 2000px;
  height: 30px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

.menu .inputcnt {
  width: 50px;
  height: 30px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

menu .sub_button3 {
  display: flex;
  justify-content: center;
  /* 버튼 가로 중앙 정렬 */
  width: auto;
  height: 30px;
  color: #ffffff !important;
  background: #000000 !important;
  border: 1px solid #000;
  text-align: center;
  display: inline;
  font-size: 12px;
  margin: 0 5px;
}

#input_box_invStatus {
  width: 90%;
  margin: auto;
  padding: 5px 0 0;
  text-align: center;
}

#input_box_invStatus .input {
  width: 30%;
  height: 30px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

#input_box_invStatus .inputcnt {
  width: 50px;
  height: 30px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}


#input_box_invOrder {
  width: 90%;
  margin: auto;
  padding: 5px 0 0;
  text-align: center;
}

#input_box_invOrder .input {
  width: 30%;
  height: 30px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

#input_box_invOrder .inputcnt {
  width: 50px;
  height: 30px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

.submit_order {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px;

}

.submit_order>input {
  width: 80%;
  height: 60px;
  color: #ffffff !important;
  background: #000000 !important;
  text-align: center;
  border: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.submit_order>button {
  width: 100% !important;
  height: 60px;
  color: #ffffff !important;
  background: #000000 !important;
  text-align: center;
  border: 1px #000000;
  display: block;
  font-size: 14px;
  font-weight: bold;
}


#input_box_invOrder_cart {
  width: 90%;
  margin: auto;
  padding: 5px 0 0;
  text-align: center;
}

#input_box_invOrder_cart .inputcnt {
  width: 50px;
  height: 20px;
  padding: 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}


#input_box_invOrder_cart .sub_button3 {
  width: 50px;
  height: 30px;
  color: #ffffff;
  background: #000000;
  border: 1px solid #000;
  text-align: center;
  display: inline;
  font-size: 12px;
  margin: 0 5px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 수직 가운데 정렬 */
  justify-content: center;
  /* 수평 가운데 정렬 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
}